.ant-picker-ok > button.ant-btn {
  /* font-size: 0; */
  height: 2em;
}

/* button.ant-btn-sm:after {
  font-size: 14px; 
  content: "Выбрать";
} */
.anticon.anticon-calendar > svg {
  margin: 0
}

/* .ant-picker-ranges {
  display: none;
} */
/* .ant-picker-footer {
  display: flex;
  align-items: center;
  height: 39px;
  padding-top: 1px !important;
} */
/* .ant-picker-footer-extra {
  display: flex;
  align-items: center;
} */
/* .ant-picker-footer-extra:not(:last-child) {
  border-bottom: none !important; 
} */

