.anticon-loading svg {
  margin-bottom: 0px;
}
.photo {
  height: 200px;
  max-width: 200px;
}
.button_max_width {
  max-width: 240px;
}
.button_min_width {
  max-width: 240px;
}
.anticon.anticon-calendar > svg {
  margin: 0
}
.ant-picker-ok > button.ant-btn {
  height: 2em;
}
.alert_custom {
  margin-top: 20px
}
form .ant-col {
  padding-bottom: 4px;
}
.anticon .anticon-tool {
  font-size: 22px ;
  padding: 0px 5px ;
  padding-top: 7px ;
}
