
.anticon-loading svg {
  margin-bottom: 0px;
}
.photo {
  height: 200px;
  max-width: 200px;
}
.button_max_width {
  max-width: 240px;
  /* max-height: 10px; */
}
.button_min_width {
  max-width: 240px;
}
.anticon.anticon-calendar > svg {
  margin: 0
}
.ant-picker-ok > button.ant-btn {
  height: 2em;
}
.alert_custom {
  margin-top: '20px'
}